* {
    box-sizing: border-box;
}
body {
    margin: 0;
    border: 0;
    background: linear-gradient(to right,#bdc3c7 , #2c3e50);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    border: 6px solid #2c3e50;
}

.clock .num {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.num1 {
    transform: rotate(30deg);
}

.num2 {
    transform: rotate(60deg);
}

.num3 {
    transform: rotate(90deg);
}

.num4 {
    transform: rotate(120deg);
}

.num5 {
    transform: rotate(150deg);
}

.num6 {
    transform: rotate(180deg);
}

.num7 {
    transform: rotate(210deg);
}

.num8 {
    transform: rotate(240deg);
}

.num9 {
    transform: rotate(270deg);
}

.num10 {
    transform: rotate(300deg);
}

.num11 {
    transform: rotate(330deg);
}

.num3 p {
    transform: rotate(-90deg);
}

.num4 p, .num5 p, .num6 p, .num7 p {
    transform: rotate(-180deg);
  }
  
.num9 p {
    transform: rotate(90deg);
}

p {
    padding: 0;
    margin: 0;
}

.hand {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translateX(50%) rotate(0deg);
    transform-origin: bottom;
    z-index: 5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.hour-hand {
    width: 7px;
    height: 25%;
    background-color: black;
}

.minute-hand {
    width: 5px;
    height: 35%;
    background-color: black;
}

.second-hand {
    bottom: 40%;
    width: 2px;
    height: 50%;
    background-color: black;
    transform-origin: 50% 80%;
}

.clock:after {
    content: '';
    background-color: #2c3e50;
    z-index: 10;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}


